    <!-- Sidebar -->
    <div id="sidebar">
        <div class="sidebar-header">
            <h3>Menú Principal</h3>
        </div>
        
        <div class="sidebar-components">
            <a href="#" class="sidebar-item active">
                <i class="fas fa-home"></i> Inicio
            </a>
            <a href="#" class="sidebar-item">
                <i class="fas fa-chart-line"></i> Dashboard
            </a>
            <a href="#" class="sidebar-item">
                <i class="fas fa-users"></i> Contratados
            </a>
            <a href="#" class="sidebar-item">
                <i class="fas fa-boxes"></i> Solicitudes
            </a>
            <a href="#" class="sidebar-item">
                <i class="fas fa-file-invoice-dollar"></i> Pagos
            </a>
            <a href="#" class="sidebar-item">
                <i class="fas fa-question-circle"></i> Ayuda
            </a>
        </div>
    </div>