<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
   <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="dns-prefetch preconnect" href="https://cdn-cms.f-static.com" crossorigin="anonymous" />
        <link rel="dns-prefetch preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
        <link rel="dns-prefetch preconnect" href="https://cdn-cms.f-static.net" crossorigin="anonymous" />
        <link rel="dns-prefetch preconnect" href="https://images.cdn-files-a.com" crossorigin="anonymous" />
        <link rel="dns-prefetch preconnect" href="https://static.s123-cdn-network-a.com" crossorigin="anonymous" />
        <link rel="dns-prefetch preconnect" href="https://cdn-cms-s.f-static.net" crossorigin="anonymous" />
        <link rel="preload" href="assets/images/2000_5ce4c623b4429.jpg" as="image" />
        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/images/Icon_blue.png?aspect_ratio=1:1&width=48&format=png" type="image/x-icon" />
        <link rel="icon" href="ssets/images/Icon_blue.png?aspect_ratio=1:1&width=48&format=png" type="image/x-icon" />
        <!-- Mobile Browser Address Bar Color -->
        <meta name="theme-color" content="#f46530" />
        <!-- Regular Meta Info -->
        <title class="s123-js-pjax">vdesk.arsupply.net - Conectando Talento y Empresas</title>
        <meta name="description"
            content="vdesk.arsupply.net- Tu fuente para profesionales especializados" class="s123-js-pjax" />
        <meta name="keywords" content class="s123-js-pjax" />
        <link rel="canonical" href="http://localhost:8000/" class="s123-js-pjax" />
        <link rel="stylesheet"  type="text/css" href="assets/css/miestilo2.css" />
        <!-- Facebook Meta Info -->
        <meta property="og:url" content="http://localhost:8000/" class="s123-js-pjax" />
        <meta property="og:image" content="assets/images/800_5ce4c623b4429.jpg" class="s123-js-pjax" />
        <meta property="og:description" content="vdesk.arsupply.net- Tu fuente para profesionales especializados" class="s123-js-pjax" />
        <meta property="og:title" content="vdesk.arsupply.net- Conectando Talento y Empresas" class="s123-js-pjax" />
        <meta property="og:site_name" content="vdesk.arsupply.net" class="s123-js-pjax" />
        <meta property="og:see_also" content="http://localhost:8000" class="s123-js-pjax" />
        <!-- Google+ Meta Info -->
        <meta itemprop="name" content="vdesk.arsupply.net- Conectando Talento y Empresas" class="s123-js-pjax" />
        <meta itemprop="description" content="vdesk.arsupply.net- Tu fuente para profesionales especializados" class="s123-js-pjax" />
        <meta itemprop="image" content="assets/images/800_5ce4c623b4429.jpg" class="s123-js-pjax" />
        <!-- Twitter Meta Info -->
        <meta name="twitter:card" content="summary" class="s123-js-pjax" />
        <meta name="twitter:url" content="http://localhost:8000/" class="s123-js-pjax" />
        <meta name="twitter:title" content="vdesk.arsupply.net- Conectando Talento y Empresas" class="s123-js-pjax" />
        <meta name="twitter:description" content="vdesk.arsupply.net- Tu fuente para profesionales especializados" class="s123-js-pjax" />
        <meta name="twitter:image" content="assets/images/800_5ce4c623b4429.jpg" class="s123-js-pjax" />
        <meta name="robots" content="all" class="s123-js-pjax" />
        <!-- Website CSS variables -->
        <link rel="stylesheet"  type="text/css" href="assets/css/miestilo3.css" />         
        <!-- Custom CSS -->
        <!-- Minimize CSS files -->
        <link rel="stylesheet"
            href="assets/css/minimize_main.css?v=n84022"
            type="text/css" crossorigin="anonymous" />
        <link rel="stylesheet"  type="text/css" href="assets/css/miestilo1.css" />            
          <link rel="stylesheet"
            href="assets/css/websiteCSS.css?w=&orderScreen=&websiteID=10506279&onlyContent=&tranW=&v=css_y226_56015153" class="reloadable-css" type="text/css" />
        <!-- Froala Editor CSS -->
        <!-- Google AdSense -->
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "url": "http://localhost:8000/",
            "name": "vdesk.arsupply.net",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://localhost:8000/-search/{search_term_string}/",
                "query-input": "required name=search_term_string"
            }
        }
        </script>        

        {% block stylesheets %}
            <style>
                .sidebar {
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 100;
                    padding: 48px 0 0;
                    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
                }
                
                .sidebar .sidebar-sticky {
                    position: relative;
                    top: 0;
                    height: calc(100vh - 48px);
                    padding-top: .5rem;
                    overflow-x: hidden;
                    overflow-y: auto;
                }
                
                .main {
                    padding-top: 48px;
                }
                
                /* Estilos para el menú lateral expandido */
                .sidebar.active {
                    left: -250px; /* Oculta el menú lateral */
                }
                
                /* Estilos para el botón de expandir */
                #sidebarCollapse {
                    position: fixed;
                    top: 10px;
                    left: 10px;
                    z-index: 999;
                }                
                </style>
        {% endblock %}

        {% block javascripts %}
                <!-- jQuery, Popper.js, Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script>
                    $(document).ready(function () {
                        $('#sidebarCollapse').on('click', function () {
                            $('#sidebar').toggleClass('active');
                        });
                    });                    
                </script>
        {% endblock %}
    </head>
    <body>
        <div id="websiteHeader">
            <nav id="mainNav"
                class="hidden-xs navbar-default navbar-fixed-top opacity-no affix-top escm-observing">
                <div class="site_container">
                    <div class="navbar-header">
                        <a href="/"
                            class="logo_name navbar-brand s123-w-l-s page-unique s123-fast-page-load"
                            data-pjax-state><img src="{{ logo }}" width="170px"></a>
                    </div>
                    <div id="top-menu">
                        <ul class="navPages nav navbar-nav"
                            style="opacity: 1">
                            <li class="moduleMenu active">
                                <a
                                    class="page-unique homepageMenu s123-fast-page-load"
                                    href="/#s123PjaxMainContainer" data-pjax-state><span
                                        class="txt-container">Home</span></a>
                            </li>
                            <li class="moduleMenu"
                                data-menu-module-id="67dd601bbcc5a">
                                <a class="page-unique s123-fast-page-load"
                                    href="/#section-67dd601bbcc5a"
                                    data-pjax-state><span
                                        class="txt-container">Sobre Nosotros</span></a>
                            </li>
                            <li class="moduleMenu"
                                data-menu-module-id="67dd601d02a74">
                                <a class="page-unique s123-fast-page-load"
                                    href="/#section-67dd601d02a74"
                                    data-pjax-state><span
                                        class="txt-container">Testimonios</span></a>
                            </li>
                            <li class="moduleMenu"
                                data-menu-module-id="67dd601db4471">
                                <a class="page-unique s123-fast-page-load"
                                    href="/#contacto" data-pjax-state><span
                                        class="txt-container">Contacto</span></a>
                            </li>
                            <li class="moduleMenu"
                                data-menu-module-id="67dd601bc77cb">
                                <a class="page-unique s123-fast-page-load"
                                    href="/login" data-pjax-state><span
                                        class="txt-container">login</span></a>
                            </li>
                        </ul>
                        <ul class="navActions nav navbar-nav"
                            style="opacity: 1">
                            <li class="header-cart-wrapper orderOpenCart"
                                data-has-online-store="false"
                                style="display: none">
                                <a
                                    class="actionButton btn-primary-action-button-4"
                                    role="button"><i
                                        class="svg-m s123-icon-converter"
                                        data-icon-name="shopping-cart"
                                        style="
                    mask: url('assets/images/shopping-cart.svg?v=2');
                    -webkit-mask: url('assets/images/shopping-cart.svg?v=2');
                  " data-ie11-classes alt="shopping-cart">&nbsp;</i><span
                                        class="count"
                                        style="display: none"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Sticky Menu -->
            <input type="hidden" id="stickyMenu" name="stickyMenu"
                value="on" />
        </div>
        <nav id="mainNavMobile" class="navbar-fixed-top" style="opacity: 1">
            <div class="navPagesLeft">
                <div class="header-menu-wrapper">
                    <a data-close-location="left" data-menu-color
                        data-menu-type="0" data-menu-align="center"
                        data-is-mobile="true"
                        class="mobile-menu-btn actionButton" role="button"
                        data-container="body"
                        data-toggle="menuCallActionIcons"><i
                            class="svg-m s123-icon-converter"
                            data-icon-name="bars"
                            style="
              mask: url('assets/images/bars.svg?v=2');
              -webkit-mask: url('assets/images/bars.svg?v=2');
            " data-ie11-classes alt="bars">&nbsp;</i></a>
                </div>
            </div>
            <div class="navbar-header">
                <a href="/"
                    class="logo_name navbar-brand s123-w-l-s page-unique s123-fast-page-load"
                    data-pjax-state><span
                        class="website-name">vdesk.arsupply.net</span></a>
            </div>
            <div class="navPagesRight">
                <ul class="navActions nav navbar-nav">
                    <li class="header-cart-wrapper orderOpenCart"
                        data-has-online-store="false" style="display: none">
                        <a class="actionButton btn-primary-action-button-4"
                            role="button"><i
                                class="svg-m s123-icon-converter"
                                data-icon-name="shopping-cart" style="
                mask: url('assets/images/shopping-cart.svg?v=2');
                -webkit-mask: url('assets/images/shopping-cart.svg?v=2');
              " data-ie11-classes alt="shopping-cart">&nbsp;</i><span
                                class="count"
                                style="display: none"></span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="top-menu-mobile" style="display: none">
            <ul>
                <!-- Website Menu Pages -->
                <li class="moduleMenu active">
                    <a class="page-unique homepageMenu" href="/#s123PjaxMainContainer"><span class="txt-container">Home</span></a>
                </li>
                <li class="moduleMenu" data-menu-module-id="67dd601bbcc5a">
                    <a class="page-unique" href="/#section-67dd601bbcc5a"><span class="txt-container">Sobre Nosotros</span></a>
                </li>
                <li class="moduleMenu" data-menu-module-id="67dd601d02a74">
                    <a class="page-unique" href="/#section-67dd601d02a74"><span class="txt-container">Testimonios</span></a>
                </li>
                <li class="moduleMenu" data-menu-module-id="67dd601db4471">
                    <a class="page-unique" href="/#contacto"><span class="txt-container">Contacto</span></a>
                </li>
                <li class="moduleMenu" data-menu-module-id="67dd601bc77cb">
                    <a class="page-unique" href="/login"><span class="txt-container">login</span></a>
                </li>
            </ul>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
